# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
# code
import numpy as np
import pandas as pd

In [2]:
pokemon = pd.read_csv('C:/Users/Kamal/Downloads/pokemon.csv')

In [3]:
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

### Step 2. Create a data dictionary that looks like the DataFrame below

In [4]:
# code
evolution = ['Ivysaur', 'charmeleon','Wartortle','Metapod']
hp = [45,39,44,45]
name = ['Bulbasaur','Charmander','Squirtle','Caterpie']
pokedex =['Yes','No','Yes','No']
type=  ['grass','fire','water','bug']

In [5]:
dic = {'evolution' : evolution, 'hp' : hp,'name' : name, 'pokedex' : pokedex, 'type' : type}

In [6]:
df = pd.DataFrame(dic)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     Yes  grass
1  charmeleon  39  Charmander      No   fire
2   Wartortle  44    Squirtle     Yes  water
3     Metapod  45    Caterpie      No    bug

### Step 3. Assign it to a variable called pokemon

In [7]:
# code
pokemon = pd.DataFrame(df)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     Yes  grass
1  charmeleon  39  Charmander      No   fire
2   Wartortle  44    Squirtle     Yes  water
3     Metapod  45    Caterpie      No    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     Yes
1  Charmander   fire  39  charmeleon      No
2    Squirtle  water  44   Wartortle     Yes
3    Caterpie    bug  45     Metapod      No

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
df['Place'] = "delhi","agra","Jemmu","Mumbai"
df['Insert'] = 1,2,3,4
df

    evolution  hp        name pokedex   type   Place  Insert
0     Ivysaur  45   Bulbasaur     Yes  grass   delhi       1
1  charmeleon  39  Charmander      No   fire    agra       2
2   Wartortle  44    Squirtle     Yes  water   Jemmu       3
3     Metapod  45    Caterpie      No    bug  Mumbai       4

### Step 6. Present the type of each column

In [10]:
# code
df.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
Place        object
Insert        int64
dtype: object