# United States - Crime Rates - 1960 - 2014


### Step 1. Import the necessary libraries

In [1]:
# Code
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this

In [2]:
# code
df = pd.read_csv('crimes.txt')
df.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 3. Assign it to a variable called crime.

In [3]:
# code
crime = pd.DataFrame(df)

crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [4]:
# code
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [5]:
# code
crime['Year'].dtype

dtype('int64')

### Step 6. Set the Year column as the index of the dataframe

In [6]:
df = pd.read_csv('crimes.txt', index_col = 0)
df.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [7]:
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [9]:
df = pd.read_csv('crimes.txt',header = None)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
1,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
2,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
3,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
4,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [13]:
crimes = crime.groupby((crime.index//10)*10).sum()
crimes

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,19645,1915053175,49295900,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
10,19745,2121193298,100991600,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
20,19845,2371370069,131123369,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
30,19945,2612825258,136582146,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
40,20045,2947969117,115012044,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
50,10060,1570146307,50167967,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the most dangerous decade to live in the US?

In [16]:
# code
crime.idxmax(0)

Year                  40
Population            40
Total                 30
Violent               30
Property              30
Murder                30
Forcible_Rape         30
Robbery               30
Aggravated_assault    30
Burglary              20
Larceny_Theft         30
Vehicle_Theft         30
dtype: int64